{% extends "layout.html" %}
{% block content %}
<section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    AppBot
                </h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    If you have an organized server in Discord, then this bot is an essential. This bot is the perfect bot for keeping your server professional. It allows members to apply for a position in your Discord server without having to leave Discord itself.
                    <br>
                </p>
                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-primary display-4" href="https://discordapp.com/api/oauth2/authorize?client_id=424817451293736961&permissions=8&scope=bot">
                        Get Started
                    </a>
                    <a class="btn btn-md btn-white-outline display-4" href="{{ url_for('docs') }}">
                        Commands
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>
<section class="features11 cid-qWqzQX4FX3 mbr-parallax-background" id="features11-3">
    <div class="container">   
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                    <img src="{{ url_for('static',filename='assets/images/darkappbot-400x400.png') }}" alt="AppBot Dark">
                </div>
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">Packed with Features</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-5">
                            Wether you're using it as a staff application bot or a registration form bot, AppBot has all the functionality that your server needs.
                        </p>
                    </div>

                    <div class="block-content">
                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class=" align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbri-pages"></span>
                                </div>     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">Multiple Applications</h4>
                                </div>
                            </div>
                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-7">
                                    Need to create applications for more than just one position? AppBot allows you to create as many applications as you want, hassle-free.
                                </p>
                            </div>
                        </div>
                        <div class="card p-3 pr-3">
                            <div class="media">
                                <div class="align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbri-setting2"></span>
                                </div>     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">Very Customizable</h4>
                                </div>
                            </div>  
                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-7">
                                    From having applications with your own original questions to even a custom theme for all your bots, AppBot has all the functionality that you would ever need.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>          
</section>
<section class="features12 cid-qWqSaEkIB2 mbr-parallax-background" id="features12-4">
    <div class="container">
        <h2 class="mbr-section-title pb-2 mbr-fonts-style display-2">Easy to Use</h2>
        <h3 class="mbr-section-subtitle pb-3 mbr-fonts-style display-5">From creating applications to reviewing them, AppBot is really easy to use.</h3>
        <div class="media-container-row pt-5">
            <div class="block-content align-right">
                <div class="card pl-3 pr-3 pb-5">
                    <div class="mbr-card-img-title">
                        <div class="card-img pb-3">
                             <span class="mbr-iconfont mbri-numbered-list"></span>
                        </div>
                        <div class="mbr-crt-title">
                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">Creating Applications</h4>
                        </div>
                    </div>                

                    <div class="card-box">
                        <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                            Creating applications with AppBot is as easy as following step-by-step instructions.</p>
                    </div>
                </div>

                <div class="card pl-3 pr-3 pb-5">
                    <div class="mbr-card-img-title">
                        <div class="card-img pb-3">
                            <span class="mbr-iconfont mbri-users"></span>
                        </div>
                        <div class="mbr-crt-title">
                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                                Simple Member Commands</h4>
                        </div>
                    </div>
                    <div class="card-box">
                        <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                            Your members will be able to apply, edit, or delete apps, hassle-free.</p>
                    </div>
                </div>
            </div>

            <div class="mbr-figure" style="width: 50%;">
                <img src="{{ url_for('static',filename='assets/images/screen-shot-2018-04-02-at-11.15.13-pm-982x672.png') }}" alt="AppBot Icon" title="">
            </div>

            <div class="block-content align-left  ">
                <div class="card pl-3 pr-3 pb-5">
                    <div class="mbr-card-img-title">
                        <div class="card-img pb-3">
                             <span class="mbri-features mbr-iconfont"></span>
                        </div>
                        <div class="mbr-crt-title">
                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">Reaction Buttons</h4>
                        </div>
                    </div>                

                    <div class="card-box">
                        <p class="mbr-text mbr-section-text mbr-fonts-style display-7">
                            AppBot uses reactions as buttons to keep the bot's design clean and organized.</p>
                    </div>
                </div>

                <div class="card pl-3 pr-3 pb-5">
                    <div class="mbr-card-img-title">
                        <div class="card-img pb-3">
                            <span class="mbri-sites mbr-iconfont"></span>
                        </div>
                        <div class="mbr-crt-title">
                            <h4 class="card-title py-2 mbr-crt-title mbr-fonts-style display-7">
                                Organized Embeds</h4>
                        </div>
                    </div>
                    <div class="card-box">
                        <p class="mbr-text mbr-section-text mbr-fonts-style display-7">Everything is organized line by line, split up by commands, and embedded.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section info4 cid-qWtgLd7H9S" id="info4-8">
    <div class="container">
        <div class="justify-content-center row">
            <div class="media-container-column title col-12 col-md-10">
                <h2 class="align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">Get Started</h2>
                <h3 class="mbr-section-subtitle align-right mbr-light mbr-white pb-3 mbr-fonts-style display-5">Add the bot and get started on commands</h3>
                <p class="mbr-text align-right mbr-white mbr-fonts-style display-7">
                    Click the first button for an instant invite for the bot. To prevent permission bugs, the administrator permission is set by default. Click the second button for a documentation on how to use the bot. This will be a detailed explanation on what each command does. If you have trouble reading, feel free to join the support server and ask there.<br>
                </p>
                <div class="mbr-section-btn align-right py-4">
                    <a class="btn btn-primary display-4" href="https://discordapp.com/api/oauth2/authorize?client_id=424817451293736961&permissions=8&scope=bot">Invite the Bot</a>
                    <a class="btn btn-white-outline display-4" href="{{ url_for('support') }}">Support Server</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}